.weather {
    height: 10rem;
    width: 22rem;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 300;
    background: white;
}

.current {
    display: flex;
    flex-direction: row;
}

.details {
    display: flex;
    flex-direction: column;
}

#temperature {
    font-size: 2rem;
    font-weight: 200;
}

.icon {
    height: 4rem;
}

.iconSmall {
    height: 3rem;
}

.forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#location {
    align-self: end;
}

.forecastDetails {
    display: flex;
    flex-direction: row;
}

.forecastSingleDay {
    display: flex;
    flex-direction: column;
    align-items: center;
}
